.jobDetailsBg {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
  padding: 20px;
}

.loadingBg {
  display: flex;
  background-color: #121212;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer11 {
  background-color: #272727;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  color: #ffffff;
  font-family: 'Roboto';
  margin: 5px;
}
.cardTop11 {
  display: flex;
  align-items: center;
}
.companyLogo11 {
  height: 70px;
  width: 70px;
  margin-right: 10px;
}
.role11 {
  font-size: 18px;
  margin-bottom: 6px;
  margin-top: 9px;
}

.role12 {
  font-size: 18px;
  margin-bottom: 6px;
  margin-top: 20px;
}
.rating11 {
  display: flex;
  align-items: center;
}
.starSize11 {
  height: 20px;
  width: 20px;
  color: #fbbf24;
  border: none;
  border-style: none;
  margin-right: 5px;
}
.cardMiddle11 {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}
.location {
  height: 22px;
  width: 22x;
  margin-right: 8px;
  margin-top: 0px;
}
.location11 {
  font-size: 16px;
  margin-right: 15px;
}
.cardMiddle11 {
  display: flex;
  align-items: center;
}
.description11 {
  font-size: 22px;
}
.jobDescription11 {
  font-size: 16px;
  font-weight: none;
  font-family: 'Roboto';
  margin-top: 12px;
}
.visitMainBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.anchorEl {
  color: #6366f1;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.visitIcon {
  color: #6366f1;
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.skills {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
}
.eachSkill {
  display: flex;
  height: 100px;
  width: 120px;
  list-style-type: none;
  align-items: center;
}
.skillContent {
  width: 60%;
  display: flex;
  align-items: center;
}

.skillImg {
  width: 38px;
  height: 45px;
  margin-right: 8px;
}
.skillHead {
  font-size: 15px;
}
.lifeAtCompany {
  width: 100%;
}
.lifeAtCompanyContent {
  width: 100%;
  font-size: 16px;
  color: #f1f5f9;
}
.lifeAtCompanyImg {
  width: 100%;
  border-radius: 15px;
}

.similarJobsHead {
  font-size: 25px;
  color: #ffffff;
}
.similarJobCard {
  background-color: #272727;
  border-radius: 20px;
  display: flex;
  padding: 25px;
  flex-direction: column;
  color: #ffffff;
  font-family: 'Roboto';
  margin: 10px;
  width: 100%;
  list-style-type: none;
  margin-right: 20px;
}
.similarJobContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.companyLogo22 {
  height: 70px;
  width: 70px;
  margin-right: 10px;
}
.role22 {
  font-size: 18px;
  margin-bottom: 0px;
}
.ratingNumber {
  font-size: 18px;
  color: #ffffff;
}
.cardTop22 {
  display: flex;
  align-items: center;
}
.similarPara {
  font-size: 15px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .jobDetailsBg {
    background-color: #121212;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .cardContainer11 {
    background-color: #272727;
    border-radius: 20px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Roboto';
    margin: 10px;
  }
  .cardTop11 {
    display: flex;
  }
  .companyLogo11 {
    height: 100px;
    width: 100px;
    margin-right: 10px;
  }
  .role11 {
    font-size: 25px;
    margin-bottom: 6px;
  }
  .rating11 {
    display: flex;
    align-items: center;
  }
  .starSize11 {
    height: 27px;
    width: 27px;
    color: #fbbf24;
    border: none;
    border-style: none;
    margin-right: 5px;
  }
  .cardMiddle11 {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
  }
  .location {
    height: 25px;
    width: 25px;
    margin-right: 8px;
    margin-top: 0px;
  }
  .location11 {
    font-size: 18px;
    margin-right: 15px;
  }
  .cardMiddle11 {
    display: flex;
    align-items: center;
  }
  .description11 {
    font-size: 27px;
  }
  .jobDescription11 {
    font-size: 22px;
    font-weight: none;
    font-family: 'Roboto';
    margin-top: 12px;
  }
  .visitMainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .anchorEl {
    color: #6366f1;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .visitIcon {
    color: #6366f1;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .skills {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
  }
  .eachSkill {
    display: flex;
    height: 150px;
    width: 320px;
    list-style-type: none;
    align-items: center;
  }
  .skillContent {
    width: 60%;
    display: flex;
    align-items: center;
  }

  .skillImg {
    width: 50px;
    height: 60px;
    margin-right: 10px;
  }
  .skillHead {
    font-size: 20px;
  }
  .lifeAtCompany {
    display: flex;
  }
  .lifeAtCompanyContent {
    width: 60%;
    margin-right: 30px;
    font-size: 25px;
    color: #f1f5f9;
  }
  .lifeAtCompanyImg {
    width: 36%;
    border-radius: 15px;
  }

  .similarJobsHead {
    font-size: 33px;
    color: #ffffff;
  }
  .similarJobCard {
    background-color: #272727;
    border-radius: 20px;
    display: flex;
    padding: 25px;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Roboto';
    margin: 10px;
    width: 25%;
    list-style-type: none;
    margin-right: 20px;
  }
  .similarJobContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
  }

  .companyLogo22 {
    height: 70px;
    width: 70px;
    margin-right: 10px;
  }
  .role22 {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .ratingNumber {
    font-size: 25px;
    color: #ffffff;
  }
  .cardTop22 {
    display: flex;
    align-items: center;
  }
  .similarPara {
    font-size: 18px;
    color: #ffffff;
  }
}
