.loginBg {
  height: 100vh;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}
.formContainer {
  background-color: #272727;
  border-radius: 10px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
}
.inputs {
  color: #ffffff;
  font-size: 15px;
  margin-top: 25px;
}

.inputElement {
  color: #cbd5e1;
  padding: 10px;
  font-size: 15px;
  background-color: transparent;
  border-color: #7e858e;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 100%;
  margin-top: 7px;
  outline: none;
}

.appLogo {
  width: 150px;
  height: 50px;
  margin-bottom: 25px;
}
.inputForms {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.button {
  color: #ffffff;
  padding: 10px;
  font-size: 15px;
  background-color: #4f46e5;
  border-radius: 10px;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 25px;
  text-align: center;
  outline: none;
  border: none;
  margin-bottom: 5px;
}
.errMsg {
  color: #ff0b37;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .loginBg {
    height: 100vh;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
  }
  .formContainer {
    background-color: #272727;
    border-radius: 10px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  .inputs {
    color: #ffffff;
    font-size: 15px;
    margin-top: 25px;
  }

  .inputElement {
    color: #cbd5e1;
    padding: 10px;
    font-size: 15px;
    background-color: transparent;
    border-color: #7e858e;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 100%;
    margin-top: 7px;
    outline: none;
  }

  .appLogo {
    width: 150px;
    height: 50px;
    margin-bottom: 40px;
  }
  .inputForms {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .button {
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    background-color: #4f46e5;
    border-radius: 10px;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 25px;
    text-align: center;
    outline: none;
    border: none;
    margin-bottom: 5px;
  }
  .errMsg {
    color: #ff0b37;
    font-size: 12px;
  }
}
